<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- for a mobile device to show-->
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
			<% flash.each do |name, msg| %> <!-- for each flash do som and the variables are name and msg becaouse the flash has a name and a msg. Flash is a msg that come up when a user do som like sign up, access a page and than vanish, shous only once and when you refresh the page is gone					-->
				<%= content_tag(:div, msg, class: "alert alert-info") %>
			<% end %>
	<%= yield %>
	</div>
</body>
</html>
